<section class="schedule content-block">
    <div class="schedule-item">
        <div class="time">15:30</div>
        <div class="event">
            <h3>СБОР ГОСТЕЙ / ФУРШЕТ</h3>
            <p>Время пролетит незаметно за игрой и общением</p>
        </div>
    </div>
    <div class="schedule-item">
        <div class="time">16:00</div>
        <div class="event">
            <h3>СВАДЕБНЫЙ БАНКЕТ</h3>
            <p>Время вкусной еды, тостов и развлечений</p>
        </div>
    </div>
    <div class="divider"></div>
</section>